body{
  background: beige;
}

li {
    padding: 5px;
    margin: 5px;
    background: #e9a040;
  }

  li:nth-child(1):before {
    color: green;
  }
  
  li:nth-child(2):before {
    color:rgba(85, 38, 6, 0.486);
  }
  
  li:nth-child(3):before {
    color: rgb(179, 41, 41);
  }

  .btns {
    border-radius: 25%;
    transition-duration: 0.4s;
  }
  
  .btns:hover {
    background-color: #4CAF50; 
    color: white;
  }

  #switch-burger-title{
    text-align: center;
    background-color: brown;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .burger-form{
    align-content: center;
  }

  #burger-title{
    text-align: center;
  }

  .include-burger{
    align-content: center;
  }

  .main-container{
    margin: 30%;
    margin-left: 50px;
  }

  .burger-switch{
    margin: 50px;
    padding: 10px;
  }

  .burger{
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #burger-icon{
    width:200px; 
    height:175px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }